[Unit]
Description=Dynamite Service Manager
Wants=network-online.target
After=network-online.target
#PartOf=dynamite.target

[Service]
#Environment="FILEBEAT_HOME=/opt/dynamite/filebeat/"
Environment="MGR_CONFIG=-c /etc/dynamite/managerd/config.yml"
PIDFile=/var/run/dynamite/managerd/managerd.pid
ExecStart=/opt/dynamite/managerd/bin/managerd $MGR_CONFIG
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=managerd

[Install]
#WantedBy=dynamite.target
WantedBy=multi-user.target