[Unit]
Description=Zeek Network Traffic Monitor
After=network.target
PartOf=dynamite-agent.target

[Service]
EnvironmentFile=/etc/dynamite/environment
ExecStartPre=/bin/bash -c "`whereis python | cut -d' ' -f2` ${ZEEK_HOME}/bin/broctl cleanup"
ExecStartPre=/bin/bash -c "`whereis python | cut -d' ' -f2` ${ZEEK_HOME}/bin/broctl check"
ExecStartPre=/bin/bash -c "`whereis python | cut -d' ' -f2` ${ZEEK_HOME}/bin/broctl install"
ExecStart=/bin/bash -c "`whereis python | cut -d' ' -f2` ${ZEEK_HOME}/bin/broctl start"
ExecStop=/bin/bash -c "`whereis python | cut -d' ' -f2` ${ZEEK_HOME}/bin/broctl stop"
RestartSec=10s
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=600
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=dynamite-agent.target