[Unit]
Description=Zeek Network Traffic Monitor
After=network.target
PartOf=dynamite-agent.target

[Service]
EnvironmentFile=/etc/dynamite/environment
Environment="PYTHON_BIN=`whereis python | tr ' ' '\n' | grep -v config | cut -d$'\n' -f2`"
ExecStartPre=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/broctl cleanup"
ExecStartPre=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/broctl check"
ExecStartPre=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/broctl install"
ExecStart=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/broctl start"
ExecStop=/bin/bash -c "${PYTHON_BIN} ${ZEEK_HOME}/bin/broctl stop"
RestartSec=10s
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=600
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=dynamite-agent.target